*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    color: aliceblue;
    --dark:#061E29;
    --blue:#1D546D;
    --cyan: #5F9598;
    --white:#F3F4F4;
    font-size: 1.5rem;
}
body{
    height: 100dvh;
}

#app{
    margin-inline: auto;
    font-size: 1rem;
    max-width: 500px;
    height: 500px;    /*I want to maintain this to be always the same as the current width*/
    display: flex;
    flex-direction: column;
}
.stats{
    display: flex;
}
.menu
{
    display: flex;
    justify-content: space-around;
    padding: 8px;
    background-color: var(--dark);
}
.grid-container{
    flex:1;
}
.main{
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.overlay{
    position: absolute;
    background-color: #18485fd8;
    position-anchor: ".grid-container";
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 15%;
}

[game-status="playing"] .overlay{
    display: none;
}

.restart-button{
    padding: 8px;
    background-color: var(--dark);
    color: var(--white);
    font-weight: 800;
}


.grid
{
    height: 100%;
    border: 1px solid var(--blue);
    display: grid;
    grid-template-columns: repeat(var(--side),1fr);
    grid-template-rows: repeat(var(--side),1fr);
}

.cell
{
    height: var(--size);
    border: 1px solid var(--dark);
    background-color: rgb(137, 194, 228);
    display: grid;
    place-content: center;
}
.cell:hover{
    cursor: pointer;
}